<p><a href="/users/home">Home</a></p>
<p>
<h1>All Children</h1>
<p><a href="/children/new">Add New Child</a></p>
<p>

<ul>
  <% @children.each do |child| %>
    <li><a href="/children/<%= child.slug %>"><%= child.last_name %>, <%= child.first_name %></a></li>
  <% end %>
</ul>
