<h1>Welcome to ForgetMeNot!!</h1>
<p>Please login below:</p>

<% unless locals.empty? %>
  <%= message %>
<% end %>

<form method="POST" action="/login">
  <p>
    <label for="username">Username:</label>
    <input id="username" text="text" name="username"/>
  </p>

  <p>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password"/>
  </p>

  <input type="submit" value="Log In"/>
</form>
