<h1>Hello, <%= current_user.username %>!!</h1>
<p>Please choose an option below:</p>

<ul>
  <li><a href="/adults">View Adults</a></li>
  <li><a href="/adults/new">Create Adult</a></li>
  <li><a href="#">View Children</a></li>
  <li><a href="#">Create Child</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
